.project 
.pydevproject 
.settings 
*.ldb 
*.pyc
*.sqlite3
__pycache__/
.project
.git
.project
.pydevproject
.settings
.pydevproject
.settings/
*.json
*.gz
*.log
.idea/
# Environments
.env
.nenv
nenv/
env/
ENV/
venv/
media/
.venv/
MANIFEST.in
setup.py
instance